@import './variables.scss';

@mixin main-content-frame {
  width: 100%;
  padding: 0 $mobile-padding;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 425px) {
    padding: 0 $large-mobile-padding;
  }

  @media screen and (min-width: 768px) {
    padding: 0 $tablet-padding;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 0;
    max-width: $max-content-width;
  }
}

@mixin base-frame {
  padding: 15px;
  display: flex;
  background-color: $main-background-color;
  border-radius: $border-radius;

  @media screen and (min-width: 768px) {
    padding: 30px;
  }
}
