// #001529 - темно-синий шапка
// #1890ff - голубой
// #f0f2f5 - серый
// #ffffff и белый
// color: rgba(0, 0, 0, 0.85);- цвет шрифта

$border-radius: 20px;

$mobile-padding: 10px;
$large-mobile-padding: 20px;
$tablet-padding: 50px;
$max-content-width: 924px;

// colors:
$logo-font-color: #ffffff;
$main-background-color: #ffffff;
$secondary-background-color: #f0f0f0;
