@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.news-info-container {
  @include main-content-frame;
}

.news-info-container__button {
  margin: 10px 0;
  align-self: flex-end;
}

.news-info-container__info {
  @include base-frame;
}

.news-info-container__spinner {
  text-align: center;
}
