@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.comments {
  width: 100%; 
}

.comments__header {
  padding: 0 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius;
  background-color: $secondary-background-color;
}

.comments__button {
  margin: 10px 0;
  align-self: flex-end;
}

.comments__spinner {
  text-align: center;
}
