@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.news-card {
  border-radius: $border-radius;
}

.news-card__content {
  display: flex;
  justify-content: space-between;
}

.news-card__details {
  flex-wrap: wrap;
}

.news-card__rating {
  align-self: flex-start;
}
