@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.ant-comment-actions {
  display: flex;
  justify-content: flex-end;
}

.comment-item:hover {
  cursor: pointer;
  border-radius: $border-radius;
  box-shadow: $hover-shadow;
}
