@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.comment-sceleton {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid $secondary-background-color;
  border-radius: $border-radius;
}

.ant-comment-actions {
  display: flex;
  justify-content: flex-end;
}

.comment-item:hover {
  cursor: pointer;
  border-radius: $border-radius;
  box-shadow: $hover-shadow;
}
